html {
    scroll-behavior: smooth;
  }
body{
    padding: 0;
    margin: 0;
    background-color: #08b0f8;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
div.line-top{
    background-color: #86ebfb;
    width: 100%;
    height: 10px;
}
div.navigation{
    display: flex;
    padding-left: 5px;
}
#navigation a{
    margin-left: 15px;
    margin-top: 38px;
    text-decoration: none;
    color: white;
}
#navigation a:hover{
    transition: 100ms ease-in-out;
    color: rgb(224, 224, 224);
}
#navigation h1{
    margin-right: 20px;
    margin-left: 10px;
}
div.center{
    text-align: center;
}
div.space-1x{
    margin-top: 100px;
}
div.space-2x{
    margin-top: 200px;
}
#info img{
    width: 220px;
    margin-bottom: -40px;
    animation: bounce ease-in-out 2s infinite;
    margin-top: 0px;
}
@keyframes bounce {
    0%{margin-top:0px; margin-bottom: -40px;}
    50%{margin-top: 10px; margin-bottom: -50px;}
}
a.btn{
    text-decoration: none;
    color: white;
    background-color: #0152e9;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 70px;
    cursor: pointer;
}
a.btn:hover{
    transition: 100ms ease-in-out;
    background-color: #003ba8;
}
div.flex{
    display: flex;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
div.card{
    margin-left: auto;
    margin-right: auto;
    background-color: #0152e9;
    border-radius: 20px;
    padding: 30px 20px;
    display: inline-block;
    width: 300px;
    height: fit-content;
}
.header{
    margin-bottom: 50px;
}
#card i{
    size: 100px;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #86ebfb; 
}

::-webkit-scrollbar-thumb {
    background: #0152e9; 
}

::-webkit-scrollbar-thumb:hover {
    background: #003ba8; 
}
code{
    background-color: #282424;
    padding: 5px;
    border-radius: 5px;
    user-select: text;
    margin-right: 3px;
}
.text-left{
    text-align: left;
}
#end p{
    margin-top: 100px;
    user-select: text;
}
#goto-top h1{
    margin-top: -5px;
}
#goto-top a{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 10px;
}
div.big-card{
    background-color: #0152e9;
    width: 90%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}


.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}


/*
  HPD Video Banner
*/
@-webkit-keyframes HPDKSWidget-raiseBanner {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes HPDKSWidget-raiseBanner {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.HPDKSWidget {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 80;
  background-color: #01b7e5;
  background-image: linear-gradient(#01b7e5, #0197bc);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  -webkit-animation-name: HPDKSWidget-raiseBanner;
          animation-name: HPDKSWidget-raiseBanner;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94);
          animation-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
.HPDKSWidget,
.HPDKSWidget * {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.HPDKSWidget:hover .HPDKSWidget-cta {
  background: #2bde73;
}

.HPDKSWidget:before {
  position: absolute;
  top: -14px;
  display: block;
  width: 100%;
  height: 14px;
  content: "";
  background-color: #01b7e5;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 35"><polygon fill="%23ffffff" points="40,0 22.8,0 0,35 17.2,35 "/></svg>');
}

.HPDKSWidget-wrap {
  display: flex;
  max-width: 49em;
  margin: 0 auto;
  padding: 0.5em 1em;
  justify-content: space-around;
  align-items: center;
}

.HPDKSWidget-text {
  margin: 0 2em 0 0;
  line-height: 1.35;
  color: #fff;
  text-shadow: 0 0 1px #999;
}

.HPDKSWidget-brand {
  text-transform: uppercase;
  font-weight: 700;
}

.HPDKSWidget-cta {
  flex: 0 0 14em;
  padding: 0.8em 1em;
  border: none;
  border-radius: 2px;
  background: #2f2f2f;
  font-size: 0.8125em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.35;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s ease;
}

@media (min-width: 780px) {
  .HPDKSWidget {
    font-size: 16px;
  }
}
/* BODY OVERRIDES TO FIT BANNER */
body {
  margin: 0;
  padding-bottom: 68px;
}
