html {
    scroll-behavior: smooth;
  }
body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(45deg, #0e40db, #15a0d5);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
div.line-top{
    background-color: #86ebfb;
    width: 100%;
    height: 10px;
}
div.navigation{
    display: flex;
    padding-left: 5px;
}
#navigation a{
    margin-left: 15px;
    margin-top: 38px;
    text-decoration: none;
    color: white;
}
#navigation a:hover{
    transition: 100ms ease-in-out;
    color: rgb(224, 224, 224);
}
#navigation h1{
    margin-right: 20px;
    margin-left: 10px;
}
div.center{
    text-align: center;
}
div.space-1x{
    margin-top: 100px;
}
div.space-2x{
    margin-top: 200px;
}
#info img{
    width: 220px;
    margin-bottom: -40px;
    animation: bounce ease-in-out 2s infinite;
    margin-top: 0px;
}
@keyframes bounce {
    0%{margin-top:0px; margin-bottom: -40px;}
    50%{margin-top: 10px; margin-bottom: -50px;}
}
a.btn{
    text-decoration: none;
    color: white;
    background-color: #0152e9;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 70px;
    cursor: pointer;
}
a.btn:hover{
    transition: 100ms ease-in-out;
    background-color: #003ba8;
}
div.flex{
    display: flex;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
div.card{
    margin-left: auto;
    margin-right: auto;
    background-color: #20202059;
    border-radius: 20px;
    padding: 30px 20px;
    display: inline-block;
    width: 300px;
    height: fit-content;
}
.glow-button {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3fa9f5;
  box-shadow: 0px 0px 22px #3fa9f5;
  animation: glow 1.5s ease-in-out infinite;
}
@keyframes glow {
  0% { box-shadow: 0px 0px 22px #3fa9f5; }
  50% { box-shadow: 0px 0px 22px #58faef; }
  100% { box-shadow: 0px 0px 22px #3fa9f5; }
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin: 0 20px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff3b3f;
}
.header{
    margin-bottom: 50px;
}
#card i{
    size: 100px;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #232c58; 
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1; 
}

::-webkit-scrollbar-thumb:hover {
    background: #c3c3c3; 
}
code{
    background-color: #282424;
    padding: 5px;
    border-radius: 5px;
    user-select: text;
    margin-right: 3px;
}
.text-left{
    text-align: left;
}
#end p{
    margin-top: 100px;
    user-select: text;
}
#goto-top h1{
    margin-top: -5px;
}
#goto-top a{
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 10px;
}
div.big-card{
    background-color: #0152e9;
    width: 90%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}


.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@keyframes bang {
  to {
    box-shadow: -239px -117.6666666667px #001aff, 26px -308.6666666667px #6a00ff, -114px -188.6666666667px #00fffb, -3px -356.6666666667px #0077ff, 117px -241.6666666667px #ff0022, 24px -238.6666666667px #00ffc8, 221px -56.6666666667px #ff0062, 67px -367.6666666667px #00f7ff, -164px -5.6666666667px #7700ff, -221px 23.3333333333px #ff003c, -83px -314.6666666667px #fbff00, -203px -45.6666666667px #e100ff, 105px 39.3333333333px #ff00b7, 58px -387.6666666667px #000dff, -191px 68.3333333333px #00fbff, 186px -325.6666666667px #ff00a6, 117px -342.6666666667px #00f7ff, 233px -326.6666666667px #9900ff, -204px -141.6666666667px #eaff00, 83px -135.6666666667px #00ff62, -207px -357.6666666667px #00ff26, 52px -113.6666666667px #00ff11, 112px -210.6666666667px #ffd500, 137px -107.6666666667px #00ff4d, -219px -161.6666666667px #ff0004, 234px -112.6666666667px #ff007b, 79px -163.6666666667px #6600ff, 8px 3.3333333333px #fffb00, 21px -62.6666666667px #0055ff, -223px -299.6666666667px #ffb700, -155px -282.6666666667px #2200ff, -218px -61.6666666667px #ffd900, 238px -395.6666666667px #ff0015, 56px -397.6666666667px #ff007b, 155px -300.6666666667px #ffc400, -22px -303.6666666667px #4d00ff, 42px -203.6666666667px #ff2200, 39px 18.3333333333px #d900ff, 41px 60.3333333333px #00e6ff, 170px 57.3333333333px #005eff, 137px 60.3333333333px #0084ff, -11px -209.6666666667px #15ff00, 124px 63.3333333333px #ff3c00, -35px -119.6666666667px #00ff1e, -88px -98.6666666667px #ff00c8, -131px -394.6666666667px #ff007b, 130px -11.6666666667px #09ff00, 160px -20.6666666667px #59ff00, -18px 72.3333333333px #40ff00, 186px -99.6666666667px #c4ff00, 176px -261.6666666667px #000dff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}


